<mat-toolbar color="accent" class="page-header mat-elevation-z1">
    <h3 class="header-title ml-3">Board Members</h3>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 mt-2">
      <button mat-raised-button data-toggle="collapse" data-target="#collapseable">Add Member<mat-icon>add</mat-icon></button>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-10 col-lg-10 mt-2" >
        <div class="collapse" id="collapseable">
        <mat-card>
          <mat-card-title>
            <h4>New Board Member</h4>
          </mat-card-title>
          <mat-card-content>
            <form #boardMemberForm="ngForm" (ngSubmit)="submitNewMember(boardMemberForm)">
              <mat-form-field class="full-width">
                <mat-placeholder>First Name</mat-placeholder>
                <input
                  matInput
                  type="text"
                  name="fname"
                  [(ngModel)]="fname"
                  #newfname="ngModel"
                  required
                >
              </mat-form-field>
              <mat-form-field class="full-width">
                  <mat-placeholder>Last Name</mat-placeholder>
                  <input
                    matInput
                    type="text"
                    name="lname"
                    #newlname="ngModel"
                    [(ngModel)]="lname"
                    required
                  >
                </mat-form-field>

                <mat-form-field class="pos-selection">
                    <mat-placeholder>Position in Organization</mat-placeholder>
                    <mat-select [(value)]="posOnBoard">
                      <mat-option *ngFor="let pos of boardPosNums" value="{{pos}}">{{boardPos[pos]}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <!--  <a mat-icon-button color="primary" class="new-pos-button" data-toggle="modal" data-target="#newBoardAdder" data-backdrop="false">
                    <mat-icon>add</mat-icon>
                  </a> -->


                  <mat-form-field class="full-width">
                      <mat-placeholder>Occupation</mat-placeholder>
                      <input
                        matInput
                        type="text"
                        name="occupation"
                        #newoccupation="ngModel"
                        [(ngModel)]="occupation"
                        required
                      >
                    </mat-form-field>
                  <mat-form-field class="full-width">
                      <mat-placeholder>Employer</mat-placeholder>
                      <input
                        matInput
                        type="text"
                        name="employer"
                        #newemployer="ngModel"
                        [(ngModel)]="employer"
                        required
                      >
                    </mat-form-field>
                    <div class="text-center">
                      <button mat-raised-button data-toggle="collapse" data-target="#collapseable">Close</button>
                      <button mat-raised-button type="submit">Create Member</button>
                    </div>

            </form>
          </mat-card-content>
        </mat-card>
        </div>
    </div>
  </div>

  <div class="row mt-3 card-row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let member of board">
        <mat-card>
            <mat-card-content>
              <h3>{{ member.fname }} {{ member.lname}}</h3>
              <p>
                {{ boardPos[member.position] }}
                <br>
                {{ member.occupation }}
                <br>
                {{ member.employer }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button color="primary" mat-button routerLink="board-edit/{{member.$id}}">Edit</button>
              <button mat-button color="warn" value="{{ member.$id }}" (click)="deleteMember($event)">Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>
  </div>
</div>

<div class="modal fade" id="newBoardAdder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Position</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-form-field class="new-pos-title">
            <mat-placeholder>Position Title</mat-placeholder>
            <input matInput [(ngModel)]="newBoardPos" name="newBoardPos">
          </mat-form-field>
          <mat-form-field class="num-of-pos">
              <mat-placeholder>Position Order</mat-placeholder>
              <mat-select [(value)]="newBoardNum" name="newBoardNum">
                <mat-option *ngFor="let num of boardPosNums" value={{num}}>{{ num + 1 }}</mat-option>
                <mat-option value="{{boardPosNums.length}}">{{boardPosNums.length}}</mat-option>
              </mat-select>
          </mat-form-field>

        </div>
        <div class="modal-footer">
          <button mat-button data-dismiss="modal">Close</button>
          <button mat-button (click)="addNewPos(newBoardPos, newBoardNum)">Add Position</button>
        </div>
      </div>
    </div>
  </div>
