
<div class="container">
    <div class="back-arrow-wrap mt-2">
        <a mat-mini-fab color="primary" class="mt-2" routerLink="/programs-form/"><mat-icon>arrow_back</mat-icon></a>
    </div>
  <mat-card class="mt-3">
    <mat-card-title>
      <h4>Edit Program</h4>
    </mat-card-title>
    <mat-card-content>
      <form #programEditForm="ngForm" (ngSubmit)="editProgram(programEditForm)">
        <mat-form-field class="full-width">
          <mat-placeholder>Title</mat-placeholder>
          <input
            matInput
            type="text"
            name="title"
            [(ngModel)]="title"
            #progtitle="ngModel"
            required
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select [(value)]="category">
            <mat-option value="home">Home Visit</mat-option>
            <mat-option value="centerKids">Center Based Kids</mat-option>
            <mat-option value="centerFamily">Center Based Family</mat-option>
          </mat-select>

          </mat-form-field>
          <mat-form-field class="full-width">
              <mat-placeholder>Tagline</mat-placeholder>
              <input
                matInput
                type="text"
                name="tagline"
                [(ngModel)]="tagline"
                #progtitle="ngModel"
                required
              >
              </mat-form-field>



                  <mat-form-field class="full-width">
                    <mat-placeholder>When</mat-placeholder>
                    <input
                      matInput
                      type="text"
                      name="when"
                      [(ngModel)]="when"
                      #progwhen="ngModel"
                      required
                    >
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <mat-placeholder>For Who?</mat-placeholder>
                      <input
                        matInput
                        type="text"
                        name="forwho"
                        [(ngModel)]="forwho"
                        #progforwho="ngModel"
                        required
                      >
                      </mat-form-field>

                      <mat-form-field class="full-width">
                        <mat-placeholder>How To Register</mat-placeholder>
                        <input
                          matInput
                          type="text"
                          name="howtoreg"
                          [(ngModel)]="howtoreg"
                          #proghowtoreg="ngModel"
                          required
                        >
                        </mat-form-field>

          <mat-form-field class="full-width">
              <mat-placeholder>Program Info</mat-placeholder>
              <textarea
                matInput
                type="text"
                name="description"
                #progdescription="ngModel"
                [(ngModel)]="description"
                required
              ></textarea>
            </mat-form-field>
            <div class="divider-div"></div>
            <a mat-button (click)="selectFeaturedImg()">Select Featured Photo</a><br>
                <div *ngIf="featuredSet" class="selected-image mt-2" [ngStyle]="{ 'background-image': 'url(' + featuredimg.url + ')' }">
                    <mat-icon color="primary" (click)="removeFeaturedImg()" class="remove-chosen-image">cancel</mat-icon>
                </div><br>

            <a mat-button (click)="selectImages()">Select Carousel Photos</a><br><br>
            <mat-grid-list cols="6" gutterSize="10px">
              <mat-grid-tile *ngFor="let img of images">
                  <div class="selected-image mt-2" [ngStyle]="{ 'background-image': 'url(' + img.url + ')' }">
                      <mat-icon color="primary" (click)="removeImg(img.$id)" class="remove-chosen-image">cancel</mat-icon>
                  </div>
              </mat-grid-tile>
            </mat-grid-list><br>

            <mat-slide-toggle color="primary" name="featured" [(ngModel)]="featured">Featured</mat-slide-toggle>
            <button mat-raised-button class="full-width mt-3" type="submit">Submit Changes</button>
      </form>
     </mat-card-content>
  </mat-card>
</div>
