<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
          <div class="card  mt-2 custom-card card-1">
              <div class="card-body material-1  ">
               <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                <h4 class="card-title purple">Home Page</h4>
                <h6 class="card-subtitle mb-2">The landing Page</h6>
                <div class="text-right">
                    <a class="btn-link  hover-effect"> <i class="fa fa-pencil"></i>Edit</a>
                </div>
              </div>
            </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
          <div class="card  mt-2 custom-card card-1">
            <div class="card-body material-1  ">
             <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
              <h4 class="card-title purple">Home Page</h4>
              <h6 class="card-subtitle mb-2">The landing Page</h6>
              <div class="text-right">
                  <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
            <div class="card  mt-2 custom-card card-1">
              <div class="card-body material-1  ">
               <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                <h4 class="card-title purple">Home Page</h4>
                <h6 class="card-subtitle mb-2">The landing Page</h6>
                <div class="text-right">
                    <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
              <div class="card  mt-2 custom-card card-1">
                <div class="card-body material-1  ">
                 <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                  <h4 class="card-title purple">Home Page</h4>
                  <h6 class="card-subtitle mb-2">The landing Page</h6>
                  <div class="text-right">
                      <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

                  </div>
                </div>
              </div>
            </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
          <div class="card  mt-2 custom-card card-1">
            <div class="card-body material-1  ">
             <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
              <h4 class="card-title purple">Home Page</h4>
              <h6 class="card-subtitle mb-2">The landing Page</h6>
              <div class="text-right">
                  <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
            <div class="card  mt-2 custom-card card-1">
              <div class="card-body material-1  ">
               <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                <h4 class="card-title purple">Home Page</h4>
                <h6 class="card-subtitle mb-2">The landing Page</h6>
                <div class="text-right">
                    <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
              <div class="card  mt-2 custom-card card-1">
                <div class="card-body material-1  ">
                 <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                  <h4 class="card-title purple">Home Page</h4>
                  <h6 class="card-subtitle mb-2">The landing Page</h6>
                  <div class="text-right">
                      <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3  ">
                <div class="card  mt-2 custom-card card-1">
                  <div class="card-body material-1  ">
                   <!-- <img src="assets/card-img.jpg" alt="" class="card-img-top"> -->
                    <h4 class="card-title purple">Home Page</h4>
                    <h6 class="card-subtitle mb-2">The landing Page</h6>
                    <div class="text-right">
                        <a class="btn-link mr-1 hover-effect"> <i class="fa fa-pencil"></i>Edit</a>

                    </div>
                  </div>
                </div>
              </div>
  </div>
