
html, body {
  height: 100%;
}
.scroll {
  overflow: scroll;
}

.page-header {
  display: flex;
  align-items: center;
  height: 75px;
  /* background-color: #60c69f; */
}

.full-width {
  width: 100% !important;
}

.no-pad {
  padding: 0px !important;
}

.divider-div {
  width: 100%;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(93, 207, 233);
}

.card-section {
  border: solid 1px rgba(60,60,60,.3);
  height: 400px !important;
  margin-top: 10px;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  max-width: 300px !important;
  width: 300px;
}

.event-image {
  height: 100%;
  width: 100%;
}

.flex-content {
  width: 100%;
  height: 40%;
  flex: 1 1 auto;
}
.event-title {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px

}

.flex-date {
  width:100%;
  height: 6%;
  margin: 0px;
  flex: 1 1 auto;
}

.flex-image {
  height: 60%;
  flex: 1 1 auto;

}
.flex {
  flex: 1 1 auto;
}

.date-label {
  margin: 0px;
  color: #a967aa;
  width: 100%;
  margin: auto;
  float: left;
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}

.button-wrap {
  width: 100%;
  float: left;
  padding-top: 7%;
}

.new-h4 {
  font-size: 18px;
}
.new-h5 {
  font-size: 14px;
}
.new-h6 {
  font-size: 12px;
}

.card-row {
  width: 90% !important;
  margin: auto !important;
}

/* .file-label {
  border-bottom: solid 2px rgba(50,50,50, .358);

} */

/* input[type="file"]::-webkit-file-upload-button {
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
 */


